"""
You are to evaluate the following answer to the question and assess whether it is correct. 
There will also be the cotext that the answer is based on.

Question with context: {question}
Answer: {context}

"""